*.suo
*.ncrunchproject
**/Azure.Security.sln.ide
**/bin
**/obj
*.nupkg
*.transform
**/packages

**/Azure.Security.Tests/bin

[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
MigrationBackup/

# Visual Studio 2015/2017 cache/options directory
.vs/
